@import "tailwindcss";

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

/* Animación personalizada */
@keyframes pulse-custom {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}

.animate-pulse-slow {
    animation: pulse-custom 2s ease-in-out infinite;
}
