@import "tailwindcss";
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes pulse {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}

.animate-pulse-slow {
    animation: pulse-custom 2s ease-in-out infinite;
}